<footer class="footer">
    <li class="spaced-list">© 2018 GitHub, Inc.</li>
    <li class="spaced-list">Terms</li>
    <li class="spaced-list">Privacy</li>
    <li class="spaced-list">Security</li>
    <li class="spaced-list">Help</li>
    <img class="logo" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.iconsdb.com%2Ficons%2Fpreview%2Fgray%2Fgithub-9-xxl.png&f=1" alt="github logo">
    <li class="spaced-list">Contact Github</li>
    <li class="spaced-list">API</li>
    <li class="spaced-list">Training</li>
    <li class="spaced-list">Shop</li>
    <li class="spaced-list">Blog</li>
    <li class="spaced-list">About</li>
</footer>
