<nav class="nav-bar">
  <div class="search-bar">
      <img class="logo" src="http://philmichaels.com/stuff/codepen/assets/portfolio/github-logo-white.png" alt="github logo">
      <input class="github-search" type="text" name="search" placeholder="Search Github">
      <li class="spaced-list">Pull Requests</li><br>
      <li class="spaced-list">Issues</li><br>
      <li class="spaced-list">Marketplace</li><br>
      <li class="spaced-list">Explore</li><br>
  </div>
  <div>

  </div>
</nav>
