---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1525967944'
      Etag:
      - W/"ff6b67173eac73785db640db66b32fd6"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"TestingforAPI","id":39129580,"url":"https://api.github.com/orgs/TestingforAPI","repos_url":"https://api.github.com/orgs/TestingforAPI/repos","events_url":"https://api.github.com/orgs/TestingforAPI/events","hooks_url":"https://api.github.com/orgs/TestingforAPI/hooks","issues_url":"https://api.github.com/orgs/TestingforAPI/issues","members_url":"https://api.github.com/orgs/TestingforAPI/members{/member}","public_members_url":"https://api.github.com/orgs/TestingforAPI/public_members{/member}","avatar_url":"https://avatars0.githubusercontent.com/u/39129580?v=4","description":null}]'
  recorded_at: Thu, 10 May 2018 15:26:10 GMT
recorded_with: VCR 4.0.0
