---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/alexcutschall
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1525967944'
      Etag:
      - W/"f5a86df0fc4519d512c9596f04e5cb29"
      Last-Modified:
      - Mon, 30 Apr 2018 21:08:48 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"alexcutschall","id":26206747,"avatar_url":"https://avatars2.githubusercontent.com/u/26206747?v=4","gravatar_id":"","url":"https://api.github.com/users/alexcutschall","html_url":"https://github.com/alexcutschall","followers_url":"https://api.github.com/users/alexcutschall/followers","following_url":"https://api.github.com/users/alexcutschall/following{/other_user}","gists_url":"https://api.github.com/users/alexcutschall/gists{/gist_id}","starred_url":"https://api.github.com/users/alexcutschall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexcutschall/subscriptions","organizations_url":"https://api.github.com/users/alexcutschall/orgs","repos_url":"https://api.github.com/users/alexcutschall/repos","events_url":"https://api.github.com/users/alexcutschall/events{/privacy}","received_events_url":"https://api.github.com/users/alexcutschall/received_events","type":"User","site_admin":false,"name":"Alex
        Cutschall","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":52,"public_gists":8,"followers":5,"following":9,"created_at":"2017-03-05T20:04:13Z","updated_at":"2018-04-30T21:08:48Z","private_gists":10,"total_private_repos":0,"owned_private_repos":0,"disk_usage":12408,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 10 May 2018 15:26:09 GMT
recorded_with: VCR 4.0.0
