---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/alexcutschall/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1525967944'
      Etag:
      - W/"910acc145bbec26d2e848bc5f6d2a192"
      Last-Modified:
      - Thu, 10 May 2018 15:01:44 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/26206747/events?page=2>; rel="next", <https://api.github.com/user/26206747/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7656022380","type":"IssuesEvent","actor":{"id":26206747,"login":"alexcutschall","display_login":"alexcutschall","gravatar_id":"","url":"https://api.github.com/users/alexcutschall","avatar_url":"https://avatars.githubusercontent.com/u/26206747?"},"repo":{"id":132510192,"name":"alexcutschall/apicurious","url":"https://api.github.com/repos/alexcutschall/apicurious"},"payload":{"action":"closed","issue":{"url":"https://api.github.com/repos/alexcutschall/apicurious/issues/11","repository_url":"https://api.github.com/repos/alexcutschall/apicurious","labels_url":"https://api.github.com/repos/alexcutschall/apicurious/issues/11/labels{/name}","comments_url":"https://api.github.com/repos/alexcutschall/apicurious/issues/11/comments","events_url":"https://api.github.com/repos/alexcutschall/apicurious/issues/11/events","html_url":"https://github.com/alexcutschall/apicurious/issues/11","id":321955295,"number":11,"title":"VCR
        Event Search","user":{"login":"alexcutschall","id":26206747,"avatar_url":"https://avatars2.githubusercontent.com/u/26206747?v=4","gravatar_id":"","url":"https://api.github.com/users/alexcutschall","html_url":"https://github.com/alexcutschall","followers_url":"https://api.github.com/users/alexcutschall/followers","following_url":"https://api.github.com/users/alexcutschall/following{/other_user}","gists_url":"https://api.github.com/users/alexcutschall/gists{/gist_id}","starred_url":"https://api.github.com/users/alexcutschall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexcutschall/subscriptions","organizations_url":"https://api.github.com/users/alexcutschall/orgs","repos_url":"https://api.github.com/users/alexcutschall/repos","events_url":"https://api.github.com/users/alexcutschall/events{/privacy}","received_events_url":"https://api.github.com/users/alexcutschall/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-05-10T14:37:36Z","updated_at":"2018-05-10T15:01:44Z","closed_at":"2018-05-10T15:01:44Z","author_association":"OWNER","body":null}},"public":true,"created_at":"2018-05-10T15:01:44Z"},{"id":"7656021759","type":"IssuesEvent","actor":{"id":26206747,"login":"alexcutschall","display_login":"alexcutschall","gravatar_id":"","url":"https://api.github.com/users/alexcutschall","avatar_url":"https://avatars.githubusercontent.com/u/26206747?"},"repo":{"id":132510192,"name":"alexcutschall/apicurious","url":"https://api.github.com/repos/alexcutschall/apicurious"},"payload":{"action":"closed","issue":{"url":"https://api.github.com/repos/alexcutscha[...]
