---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/alexcutschall/received_events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1525967944'
      Etag:
      - W/"b35158e1d2254a1de8d04bef4e953139"
      Last-Modified:
      - Thu, 10 May 2018 12:45:18 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/26206747/received_events?page=2>; rel="next",
        <https://api.github.com/user/26206747/received_events?page=8>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7655296695","type":"WatchEvent","actor":{"id":34174321,"login":"jamesrnelson","display_login":"jamesrnelson","gravatar_id":"","url":"https://api.github.com/users/jamesrnelson","avatar_url":"https://avatars.githubusercontent.com/u/34174321?"},"repo":{"id":132659692,"name":"jamesrnelson/apicurious","url":"https://api.github.com/repos/jamesrnelson/apicurious"},"payload":{"action":"started"},"public":true,"created_at":"2018-05-10T12:45:18Z"},{"id":"7652352325","type":"CreateEvent","actor":{"id":34468256,"login":"manojpanta","display_login":"manojpanta","gravatar_id":"","url":"https://api.github.com/users/manojpanta","avatar_url":"https://avatars.githubusercontent.com/u/34468256?"},"repo":{"id":132815780,"name":"manojpanta/blogger","url":"https://api.github.com/repos/manojpanta/blogger"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":null,"pusher_type":"user"},"public":true,"created_at":"2018-05-09T21:42:53Z"},{"id":"7646444611","type":"CreateEvent","actor":{"id":31285268,"login":"Vadlusk","display_login":"Vadlusk","gravatar_id":"","url":"https://api.github.com/users/Vadlusk","avatar_url":"https://avatars.githubusercontent.com/u/31285268?"},"repo":{"id":132670483,"name":"Vadlusk/APICurious","url":"https://api.github.com/repos/Vadlusk/APICurious"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":"Mod
        [...]
