<% @search.organizations.each do |organization| %>
  <div class="organization-section">
    <img class="organization-logo" src="<%= organization.avatar_url %>" alt="user image">
    <%= organization.login %><br>
  </div>
  <br><br>
<% end %>
<%= render 'partials/footer' %>
