---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1525967944'
      Etag:
      - W/"499533243a6367e4c8b88b1c9b301b76"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":127666985,"name":"2win_playlist","full_name":"alexcutschall/2win_playlist","owner":{"login":"alexcutschall","id":26206747,"avatar_url":"https://avatars2.githubusercontent.com/u/26206747?v=4","gravatar_id":"","url":"https://api.github.com/users/alexcutschall","html_url":"https://github.com/alexcutschall","followers_url":"https://api.github.com/users/alexcutschall/followers","following_url":"https://api.github.com/users/alexcutschall/following{/other_user}","gists_url":"https://api.github.com/users/alexcutschall/gists{/gist_id}","starred_url":"https://api.github.com/users/alexcutschall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexcutschall/subscriptions","organizations_url":"https://api.github.com/users/alexcutschall/orgs","repos_url":"https://api.github.com/users/alexcutschall/repos","events_url":"https://api.github.com/users/alexcutschall/events{/privacy}","received_events_url":"https://api.github.com/users/alexcutschall/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/alexcutschall/2win_playlist","description":null,"fork":true,"url":"https://api.github.com/repos/alexcutschall/2win_playlist","forks_url":"https://api.github.com/repos/alexcutschall/2win_playlist/forks","keys_url":"https://api.github.com/repos/alexcutschall/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alexcutschall/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alexcutschall/2win_playlist/teams","hooks_url":"https://api.github.com/repos/alexcutschall/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/alexcutschall/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/alexcutschall/2win_playlist/events","assignees_url":"https://api.github.com/repos/alexcutschall/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/alexcutschall/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/alexcutschall/2win_playlist/tags","blobs_url":"https://api.github.com/repos/alexcutschall/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alexcutschall/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alexcutschall/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/alexcutschall/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alexcutschall/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/alexcutschall/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/alexcutschall/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/alexcutschall/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/alexcutschall/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/alexcutschall/2win_playlist/subscription","commits_url":"https://api.github.com/repos/alexcutschall/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/alexcutschall/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/alexcutschall/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/alexcutschall/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/alexcutschall/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/alexcutschall/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alexcutschall/2win_playlist/merges","archive_url":"https://api.github.com/repos/alexcutschall/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alexcutschall/2win_playlist/downloads","issues_url":"https://api.github.com/repos/alexcutschall/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/alexcutschall/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/alexcutschall/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/alexcutschall/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alexcutschall/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/alexcutschall/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/alexcutschall/2win_playlist/deployments","created_at":"2018-04-01T20:02:47Z","updated_at":"2018-04-01T21:07:42Z","pushed_at":"2018-04-01T21:07:41Z","git_url":"git://github.com/alexcutschall/2win_playlist.git","ssh_url":"git@github.com:alexcutschall/2win_playlist.git","clone_url":"https://github.com/alexcutschall/2win_playlist.git","svn_url":"https://github.com/alexcutschall/2win_playlist","homepage":null,"size":38,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":124974675,"name":"activerecord_exploration","full_name":"alexcutschall/activerecord_exploration","owner":{"login":"alexcutschall","id":26206747,"avatar_url":"https://avatars2.githubusercontent.com/u/26206747?v=4","gravatar_id":"","url":"https://api.github.com/users/alexcutschall","html_url":"https://github.com/alexcutschall","followers_url":"https://api.github.com/users/alexcutschall/followers","following_url":"https://api.github.com/users/alexcutschall/following{/other_user}","gist[...]
